* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.main-bg {
    background-image: url("../img/background.png");
    background-size: cover;
}

.header {
    padding: 49px 0;
}

.milan-logo {
    float: left;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo.png);
    background-size: cover;
}

.logo:hover .milan-logo {
    background-image: url(../img/logo-orange.png);
}

.logo:hover .link {
    color: #f26522;
}

.link {
    float: left;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-weight: 700;
}

.heading {
    font-size: 29px;
}

.subheading {
    font-size: 18px;
}

.contacts {
    float: right;
    text-align: right;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

.top-img {
    padding-bottom: 96px;
}

.tour-item {
    position: relative;
    float: left;
    margin-bottom: 50px;
    margin-right: 64px;
}

.tour-item:nth-of-type(3n) {
    margin-right: 0;
}

.tour-item-text {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 22px;
}
.tour-item-text:hover{
    color: #f26522;
}

.tour-item-info {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #f26522;
    bottom: 45px;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
}

.tour-item:hover .tour-item-info {
    opacity: 1;
}
.description{
    padding: 0 20px;
    line-height: 21px;
    font-family: Verdana, sans-serif;
}

.description p:first-child{
    float: left;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
}

.description p:last-child{
    float: right;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
}

.description:after{
    display: table;
    content: '';
    clear: both;
}
.cont{
    padding-left: 21px;
    padding-top: 15px;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 10px;

}
.tour-item p{

}
.copyright {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 61px;
}

